@import "colors/colors";
@import "fonts/fonts";
@import "themes/original";
@import "utils/font-awesome";
@import "utils/functions";
@import "utils/reset";

@import "compass/css3";
@import "sectors/base";
@import "sectors/header";
@import "sectors/nav";
@import "sectors/footer";
@import "themes/team";

.blog-content {
	width: 55%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #73c9c4;
} 