@font-face {
  font-family: 'Conv_Grandesign Neue Serif';
  src: url('../fonts/Grandesign Neue Serif.eot');
  src: local('☺'), url('../fonts/Grandesign Neue Serif.woff') format('woff'), url('../fonts/Grandesign Neue Serif.ttf') format('truetype'), url('../fonts/Grandesign Neue Serif.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}