@font-face {
  font-family: 'anntena bold';
  src: url('../fonts/anntena_bold.eot');
  src: local('☺'), url('../fonts/anntena_bold.woff') format('woff'), url('../fonts/anntena_bold.ttf') format('truetype'), url('../fonts/anntena_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}