$white:       $white;
$primary:     $orangeHackerNews;
$default:     $blueDull;
$clear:       $whiteAntiflash;
$secondary:   $blueLight;
$negative:    $grayCharcoal;
$inverse:     $blueDarker;
$black:       $black;
$danger:      $redBright;
$mblue: 			#0291ff;
$msoftblue:   #219ef6;
$mgrayhard:   #333;

//Global
$boder-radius: 0px;
$separation: 10px;

//Fonts
$font: 'Conv_Grandesign Neue Serif', 'Economica', sans-serif;

//Body
$body-side-padding: 20px;

//Nav
$logo-height: 128px;
$nav-width: 220px;
$nav-padding: 10px;

//Buttons
$button-padding: 10px 0;
$i-width: 30px;

//Text
$big-text: 46px;
$medium-text: 22px;
$small-text: 16px;